<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Reypau/IdeaProjects/SQA-Batch8/JCSelenium/src/test/java/com/juaracoding/selenium"><classes><class name="com.juaracoding.selenium.TestForm"><methods><include name="testUrl"/><include name="testFormIdentity"/></methods></class><class name="com.juaracoding.selenium.TestLogin"><methods><include name="testValidLogin"/><include name="testInvalidLogin"/><include name="testInvalidLoginUsernamePasswordNull"/></methods></class></classes></test></suite>